

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .form-label-1{
        margin-top: 10px;
        text-align: left;
    }

    .footer-left {
        width: 100%;
        text-align: center;
    }
    .br-footer .footer-right {
        text-align: center;
    }
    .footer-right .mg-b-2{
        width: 100%;
    }
    .footer_ex{
        margin-top: 80px!important;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .modal-dialog.modal_lg_1{
        max-width: 650px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .modal-dialog.modal_lg_1{
        max-width: 650px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .modal-dialog.modal_lg_1{
        max-width: 650px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .modal-dialog.modal_lg_1{
        max-width: 650px;
    }
}